.login{
  position: relative;
  padding: 15px;
  border: 1px solid rgb(64, 243, 198);
  width: 400px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-color:rgb(170, 241, 223);
  visibility: hidden;
    opacity: 0;
  transition: .5s;
  z-index: 100;
}
.login.open {
  
  transition: .2s visibility linear, .2s opacity linear;
  visibility: visible;
  opacity: 1;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form{
  display: flex;
  flex-direction: column;
}
form:nth-child(){
  margin: 20px 0px;
}
input{
  height: 30px;
}
.show__pass-input{
  margin-right: 10px;
}
.show__pass{
  display: flex;
  align-items: center;
}
input{
  margin: 5px 0px;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  border: 1px solid rgb(64, 201, 243);
  background-color: rgb(246, 251, 255);
}
input:focus-visible{
  outline: none;
  border: 3px solid rgb(64, 186, 243);
}

.submit:hover{
  transition: .3s;
  cursor: pointer;
  background-color:rgb(170, 241, 223);
}
p{
  cursor: pointer;
}
.close__button{
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}