.team {
  display: flex;
  justify-content: center;
  padding: 0 10px 50px;
}

.team-content h2 {
  display: flex;
  justify-content: center;
}

.team-content-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 50px;
}
