.hardWord {
  display: flex;
  justify-content: flex-start;
}
.hardword-item {
  border: 1px solid #000;
  padding: 10px;
  background-color: antiquewhite;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
}
