nav{
  width: 200px;
  background-color: rgb(110, 245, 211);
}
ul{
  list-style: none;
}
ul li{
  cursor: pointer;
  margin:5px;
 
}
.nav__name{
  display: flex;
  align-items: center;
}
.nav__icon{
  margin-right: 10px;
}