@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
.description {
  padding: 5px;
  margin: 10px 10px 50px;
  width: 100%;
}

.description-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-content-options {
  display: grid;
  row-gap: 40px;
}

h2 {
  display: inline-block;
  font-family: Neucha;
  font-size: 44px;
  font-style: italic;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  .description-content h2 {
    font-size: 38px;
  }
}

@media (max-width: 520px) {
  .description-content h2 {
    font-size: 32px;
  }
}
