.word__level{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.level{
  margin: 5px 0px;
  width:100px;
  text-align: center;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid #000;
  cursor: pointer;
}
.a1:hover, .a2:hover{
  background-color: rgb(110, 245, 211);
  transition: .5s;
}
.b1:hover, .b2:hover{
  background-color: rgb(110, 153, 245);
  transition: .5s;
}
.c1:hover, .c2:hover{
  background-color: rgb(245, 110, 110);
  transition: .5s;
}

